*.o
*.exe
*.out
*.dat
.vscode/
*.swp
*.lol
*.aux
*.bbl
src/final/real-code/tests/01/sfcatLo7Fkh
src/final/real-code/tests/01/traces/traces.pdf
src/final/real-code/tests/01/traces/3-traces.rsf@
src/final/real-code/tests/01/traces/2-traces.rsf@
src/final/real-code/tests/01/traces/traces.vpl
src/final/real-code/tests/01/traces/traces.rsf
src/final/real-code/tests/01/traces/2-traces.rsf
src/final/real-code/tests/01/traces/3-traces.rsf
src/final/real-code/tests/01/traces/traces.pdf
src/final/real-code/tests/01/traces/traces.rsf
src/final/real-code/tests/01/traces/traces.vpl
src/final/real-code/tests/01/traces/traces.pdf
src/final/real-code/tests/01/traces/traces.rsf
src/final/real-code/tests/01/traces/traces.vpl
